<!DOCTYPE html>
{% load static %}
<html>
<title>Customer Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link rel="stylesheet" href="{% static 'css/customer_portal.css' %}">

<head>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href=".." class="w3-bar-item w3-button">Best Restaurant App</a>
      <div class="w3-right w3-hide-small">  
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="../menu" class="w3-bar-item w3-button">Menu</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
    </div>
    
    </div>
  </div>

  <h1 style="text-align: center;">Account Creation</h1>
  <form method="POST"> {% csrf_token %}
    <table style="background-color:white" class="center">
    <tr><th><label for="id_first_name">First name:</label></th><td><input type="text" name="first_name" maxlength="26" required id="id_first_name"></td></tr>
    <tr><th><label for="id_last_name">Last name:</label></th><td><input type="text" name="last_name" maxlength="26" required id="id_last_name"></td></tr>
    <tr><th><label for="id_street">Street:</label></th><td><input type="text" name="street" maxlength="35" required id="id_street"></td></tr>
    <tr><th><label for="id_city">City:</label></th><td><input type="text" name="city" maxlength="35" required id="id_city"></td></tr>
    <tr><th><label for="id_state">State:</label></th><td><input type="text" name="state" maxlength="35" required id="id_state"></td></tr>
    <tr><th><label for="id_postal_code">Postal code:</label></th><td><input type="text" name="postal_code" pattern="^[0-9]*$" minlength="5" maxlength="5" required id="id_postal_code"></td></tr>
    <tr><th><label for="id_phone">Phone:</label></th><td><input type="tel" name="phone" pattern="^[0-9]*$" minlength="10" maxlength="10" required id="id_phone"></td></tr>
    
    {% if email_valid %}
    <tr><th><label for="id_email">Email:</label></th><td><input type="email" name="email" maxlength="320" required id="id_email"></td></tr>
    {% else %}
    <tr><th><label for="id_email">Email:</label></th><td><input type="email" name="email" maxlength="320" required id="id_email" placeholder="Email Already Used"></td></tr>
    {% endif %}

    {% if password_valid %}
    <tr><th><label for="id_password">Password:</label></th><td><input type="password" name="password" minlength="8" maxlength="50" required id="id_password"></td></tr>
    <tr><th><label>Re-Enter Password:</label></th><td><input type="password" name="re_enter_password" minlength="8" maxlength="50" required id="re_enter_password"></td></tr>
    {% else %}
    <tr><th><label for="id_password">Password:</label></th><td><input type="password" name="password" minlength="8" maxlength="50" required id="id_password" placeholder="Password Not Matched"></td></tr>
    <tr><th><label>Re-Enter Password:</label></th><td><input type="password" name="re_enter_password" minlength="8" maxlength="50" required id="re_enter_password" placeholder="Password Not Matched"></td></tr>
    {% endif %}
    
    <tr><th><label for="id_name_on_card">Name on card:</label></th><td><input type="text" name="name_on_card" maxlength="30" required id="id_name_on_card"></td></tr>
    <tr><th><label for="id_credit_card_number">Credit card number:</label></th><td><input type="text" name="credit_card_number" pattern="^[0-9]*$" minlength="16" maxlength="16" required id="id_credit_card_number"></td></tr>
    <tr><th><label for="id_cvv_number">Cvv number:</label></th><td><input type="text" name="cvv_number" pattern="^[0-9]*$" minlength="3" maxlength="3" required id="id_cvv_number"></td></tr>
    <tr><th><label for="id_billing_street">Billing street:</label></th><td><input type="text" name="billing_street" maxlength="35" required id="id_billing_street"></td></tr>
    <tr><th><label for="id_billing_city">Billing city:</label></th><td><input type="text" name="billing_city" maxlength="35" required id="id_billing_city"></td></tr>
    <tr><th><label for="id_billing_state">Billing state:</label></th><td><input type="text" name="billing_state" maxlength="35" required id="id_billing_state"></td></tr>
    <tr><th><label for="id_billing_postal_code">Billing postal code:</label></th><td><input type="text" name="billing_postal_code" pattern="^[0-9]*$" minlength="5" maxlength="5" required id="id_billing_postal_code"></td></tr>
    </table>

    <br>
    <br>
    <table class="center" style="background-color:white">
      <tr>
        <th>
          <button type="submit">Submit</button>
        </th>
      </tr>
    </table>
  </form> 

  <br>
  <br>

  <footer class="w3-center w3-red w3-padding w3-xxlarge">
    <p>We Have The Best Chefs In the World!</p>
  </footer>

</body>
</html>
