<!DOCTYPE html>
{% load static %}
<html>
<title>Customer Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link rel="stylesheet" href="{% static 'css/customer_portal.css' %}">

<head>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href=".." class="w3-bar-item w3-button">Best Restaurant App</a>
      <div class="w3-right w3-hide-small">  
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="../menu" class="w3-bar-item w3-button">Menu</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
    </div>
    
    </div>
  </div>

  <h1>Account Creation</h1>
  <form method="POST"> {% csrf_token %}
    <table style="background-color:white" class="center">
    <tr>
      <td>First Name:</td>
      <td>
        <input id="first_name" type="text" name="first_name" placeholder="First Name">
      </td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td>
          <input id="last_name" type="text" name="last_name" placeholder="Last Name">
      </td>
    </tr>
    <tr>
      <td>Street:</td>
      <td>        
        <input id="street" type="text" name="street" placeholder="Street Name">
      </td>
    </tr>
    <tr>
      <td>City:</td>
      <td>        
        <input id="city" type="text" name="city" placeholder="City Name">
      </td>
    </tr>  
    <tr>
      <td>State:</td>
      <td>        
        <input id="state" type="text" name="state" placeholder="State Name">
      </td>
    </tr>
    <tr>
      <td>Postal Code:</td>
      <td>        
        <input id="postal_code" type="text" name="postal_code" placeholder="Postal Code">
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input id="email" type="text" name="email" placeholder="Email">
      </td>
    </tr>    
    <tr>
      <td>Phone:</td>
      <td>
        <input id="phone" type="text" name="phone" placeholder="Phone">
      </td>
    </tr>
    <tr>
      <td>Name on Card:</td>
      <td>
        <input id="name_on_card" type="text" name="name_on_card" placeholder="Name on Card">
      </td>    
    </tr>
    <tr>
      <td>Card Number:</td>
      <td>
        <input id="credit_card_number" type="text" name="credit_card_number" placeholder="Card Number">
      </td>
    </tr>
    <tr>
      <td>Card CVV:</td>
      <td>
        <input id="cvv_number" type="text" name="cvv_number" placeholder="Card CVV">
      </td>
    </tr>
    </table>

    <br>
    <br>
    <table class="center" style="background-color:white">
      <tr>
        <td>
          <button type="submit">Submit</button>
        </td>
      </tr>
    </table>
  </form> <!--END OF FORM-->

  <br>
  <br>

  <footer class="w3-center w3-red w3-padding w3-xxlarge">
    <p>We Have The Best Chefs In the World!</p>
  </footer>

</body>
</html>
