<!DOCTYPE html>
{% load static %}
<html>
<title>Best Restaurant</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'css/default_home.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Best Restaurant App</a>
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="menu" class="w3-bar-item w3-button">Menu</a>
      <a href="login" class="w3-bar-item w3-button">Login</a>
      <a href="checkout" class="w3-bar-item w3-button">Checkout</a>
      <div id="main" class="w3-bar-item w3-button">	
        <a class="openbtn w3-bar-item w3-button" onclick="openNav()"> CART</a>  
      </div>
    </div>
  </div>
</div>

<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="{%static 'img/hamburger.jpg' %}" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Le Catering</h1>
  </div>
</header>

  <!--SIDEBAR-->
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class="row">
      <div class="col-75">
        <div class="container">
          <form action="checkout">
            {% if user %}

            <div class="container">
              <h4>Cart
                <span class="price" style="color:black">
                  <i class="fa fa-shopping-cart"></i>
                  <b>{{ total_quanity }}</b>
                </span>
              </h4>
      
              {% for key, value in cart.items %}
                  <p><b>{{ key }}({{ value.0 }})</b> 
                    <span class="price">{{ value.1 }}</span>
                  </p>
              {% endfor %}
              {% comment %}  
              {% endcomment %}
              <hr>
              <p>Total <span class="price" style="color:black"><b>${{ total_price }}</b></span></p>
            </div>

            {% else %}

            {% endif %}
            <input type="submit" value="Continue to checkout" class="btn">
          </form> {% comment %} Checkout form end {% endcomment %}
          <form method="POST">{% csrf_token %}
            <p>
              <button class="w3-right w3-tag w3-dark-grey w3-round" type="submit" name="delete" value="delete")>Clear Cart</button>
            </p>
          </form>
      </div>
    </div>
  
    <div class="col-25">
      {% if not user %}
      <div class="container">
        <h4>Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            <b>{{ total_quanity }}</b>
          </span>
        </h4>

        {% for key, value in cart.items %}
            <p><b>{{ key }}({{ value.0 }})</b> <span class="price">{{ value.1 }}</span></p>
        {% endfor %}

        <hr>
        <p>Total <span class="price" style="color:black"><b>${{ total_price }}</b></span></p>
      </div>
      {% endif %}
    </div>
    
  </div>
    <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      // document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>
  </div>
  <!--SIDEBAR END-->

<div class="w3-content" style="max-width:1100px">

  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="{%static 'img/tablesetting2.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Best Restaurant App </h1><br>
      <h5 class="w3-center">Tradition since 1889</h5>
      <p class="w3-large">The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

</div>

<footer class="w3-center w3-light-grey w3-padding-32">
  <p>We're The Best Cooks Around</p>
</footer>

</body>
</html>
