<!DOCTYPE html>
{% load static %}
<html>
<title>Employee Portal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link rel="stylesheet" href="{% static 'css/employee_portal.css' %}">

<head>
</head>
<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a class="w3-bar-item">Best Restaurant App</a>
      <div class="w3-right w3-hide-small">
      <a href="../logout" class="w3-bar-item w3-button">Logout</a>
  
    </div>
    </div>
  </div>

  <h1>WELCOME BACK</h1>

  <table class="center" style="background-color:white">
    <tr>
      <th>Order ID</th>
      <th>Customer ID</th>
      <th>Item List</th>
      <th>Order Status</th>
      <th>Total Price</th>
      <th>Prep Time</th>
      <th>Delete</th>
      <th>Fulfill</th>

    </tr>

    <form method="POST">{% csrf_token %}
      {% for o in total_orders %}
        <tr>
          <td> {{o.0.order_id}} </td>
          <td> {{o.0.customer_id}} </td>
          <td> {{o.0.item_list}} </td>
          <td> {{o.1}} </td>
          <td> {{o.0.total_price}} </td>
          <td>   
             {{ o.2}} minutes
          </td> 

          <td><button type="submit" name="delete" value={{o.0.order_id}}>Delete</button></td>
          <td><button type="submit" name="fulfill" value={{o.0.order_id}}>Fulfill</button></td>
        </tr>
      {% endfor %}
    </form>

  </table>

  <br>
  <br>

<footer class="w3-center w3-red w3-padding w3-xxlarge">
  <p>We Have The Best Chefs In the World!</p>
</footer>

</body>
</html>
